a{
    text-decoration: none;
    color: inherit;
}

.nav-logo {
    margin-left: 102px;
}

.btn-login{
    width: 109px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(58, 12, 163, 1);
    color: white;
}

.container-1{
    padding-top: 157px;
}

.section-1{
    background-image: url(../img/big-rectangle.png);
    height: 902px;
    background-size: cover;
}

p.title {
    color: rgba(67, 97, 238, 1);
    font-weight: 500;
    font-size: 19px;
    line-height: 28.5px;
}

p.title-2 {
    color: rgba(11, 9, 10, 1);
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
}

p.desc{
    color: rgba(128, 128, 128, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}


.corusel-img{
    width: 600.96px;
    height: 410px;
    object-fit: cover;
    border-radius: 20px;
}
